/* 
    Base styles 
*/

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 3rem;

    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* 
    Form: `#fruit-form`
*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 2rem;
    border-radius: 0.5rem;
    background-color: ghostWhite;
}

input,
button {
    padding: 1rem;
    border-radius: 0.2rem;
}

input {
    border: 0.5rem solid #9C27B0;

}

input::placeholder {
    color: #aa84c8;
}

input:hover,
input:active,
input:focus {
    border-color: gold;
    outline: none;
}

button {
    color: ghostWhite;
    background-color: #9C27B0;
    border: none;
    letter-spacing: 0.1ch;
}

button:hover,
button:active,
button:focus {
    background-color: gold;
    color: black;
}


/*
    Unordered list: `#fruit-list`
*/

ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    position: relative;

    padding-top: 1.5rem;

    list-style: none;
    background-color: ghostWhite;
    border-radius: 0.5rem;
}

li:hover {
    cursor: pointer; 
}

li::after {
    content: '×';
    position: absolute;
    top: -1rem;
    right: -1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: ghostWhite;
    background-color: firebrick;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    padding-bottom: 0.6rem;
    /* padding-bottom: 0.2rem; */
}

li:hover::after {
    background-color: red;
}

img {
    display: block;
    width: 100%;

    border-radius: 0 0 0.5rem 0.5rem;
}

.fruit-list__item-title {}





.text-purple {
    color: #9C27B0;
}